.lineTopContainer {
  width: 100%;
  padding: $space48 0;
}

.lineContainer {
  width: 100%;
  padding-top: $space48;
}

.lineDividerFormations {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  z-index: 0;
}

.line {
  height: 1px;
  width: 0;
  background: $accent;
  @include showOrangeLine;
}

@keyframes showOrangeLine {
  to {
    width: 100%;
  }
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 1050px) {

  .lineTopContainer {
    padding: 40px 0 24px;
  }

  .lineContainer {
    padding: $space24 0;
  }
}