.burgerMenuDisplayContainer {
  position: fixed;
  @include fullScreenSize;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  left: 0;
  background: $accent;
  padding: $mobilePaddingTopBot 20px;
  z-index: 100;
  transition: $mediumTransition;
  transform: translateX(100%);
}

.active {
  transform: translateX(0);
}

.lineContainer {
  width: 100%;
}

.line {
  display: block;
  height: 1px;
  width: 100%;
  background: $white;
  margin: $space32 0;
}