.experiencesContainer {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: $space56;
}

@media (max-width: 950px) {
  .experiencesContainer {
    flex-direction: column;
    row-gap: 32px;
  }
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 768px) {
  .experiencesContainer {
    height: fit-content;
    padding-bottom: 32px;
  }
}
