.navContainer {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  row-gap: $space24;
  @include showElementOpacity1;
}

@keyframes showElementOpacity1 {
  to {
    opacity: 1;
  }
}

.burgerNavContainer {
  display: none;
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 768px) {
  .navContainer {
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    row-gap: $space32;
  }

  .burgerNavContainer {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: $space24;
  }
}