.button {
  @include desktopTitleH5;
  color: $white;
  letter-spacing: $letterSpacingSmall;
  background: none;
  border-radius: 150px;
  padding: $btnSpace12 $btnSpace16;
  cursor: pointer;
  transition: $mediumTransition;

  &:not(.active):hover {
    background: rgba(255, 112, 40, 0.3);
  }
}

.active {
  background: $accent;
  transition: $mediumTransition;
}