.button {
  @include desktopTitleH5;
  color: $white;
  letter-spacing: $letterSpacingSmall;
  background: none;
  border-radius: 150px;
  padding: $btnSpace12 $btnSpace16;
  cursor: pointer;
  transition: $mediumTransition;

  &:not(.active):hover {
    background: rgba(255, 112, 40, 0.3);
  }
}

.active {
  background: $accent;
  transition: $mediumTransition;
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 950px)  {
  .button {
    font-size: 0.7rem;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 0.75rem;
  }
}