.button {
  @include desktopTitleH5;
  color: $white;
  letter-spacing: $letterSpacingSmall;
  background: none;
  border-radius: 150px;
  padding: $btnSpace12 $btnSpace16;
  cursor: pointer;
  transition: $mediumTransition;
}

.active {
  background: $accent;
  transition: $mediumTransition;
}