.homePageContainer,
.pageContainer {
  @include fullScreenSize;
  display: flex;
  background: $black;
  padding: $pagePaddingTopBot $pagePaddingLeftRight;
  overflow: hidden;
}

.pageContainer {
  column-gap: $space56;
}

.contentContainer {
  @include fullParentSize;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lineTopDividerContainer {
  position: relative;
}

.txtContainer {
  position: relative;
  @include fullParentSize;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.experiencesContainer {
  display: flex;
  flex-direction: column;
  row-gap: $space8;
  overflow-y: auto;
}

.experiencesWrapper {
  display: flex;
}

.quoteIcon {
  position: absolute;
  @include fullParentSize;
  color: $color-accent;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 0;
  transform: translate(-50%, -50%);
  @include showElementOpacity1;
}

@keyframes showElementOpacity1 {
  to {
    opacity: .25;
  }
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 768px) {

  .pageContainer,
  .homePageContainer {
    flex-direction: column;
    align-items: center;
    padding: $mobilePaddingTopBot $mobilePaddingLeftRight;
  }
}