.homePageContainer {
  @include fullScreenSize;
  display: flex;
  background: $black;
  padding: $pagePaddingTopBot $pagePaddingLeftRight;
  overflow: hidden;
}

.pageContainer {
  position: relative;
  @include fullScreenSize;
  display: flex;
  background: $black;
  padding: $pagePaddingTopBot $pagePaddingLeftRight;
  column-gap: $space56;
  overflow: hidden;
}

.contentContainer {
  @include fullParentSize;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.txtContainer {
  position: relative;
  @include fullParentSize;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.gradientContainer {
  position: absolute;
  height: 15%;
  width: 100%;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 0%, rgb(10, 10, 10, 0.9) 100%);
  bottom: 0;
  left: 0;
  z-index: 10;
}

.quoteIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  color: $color-accent;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 0;
  transform: translate(-50%,-50%);
  @include showElementOpacity1;
}

@keyframes showElementOpacity1 {
  to {
    opacity: .25;
  }
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 768px)  {
  .pageContainer,
  .homePageContainer {
    flex-direction: column;
    align-items: center;
    padding: $mobilePaddingTopBot $mobilePaddingLeftRight;
  }
}