.baselineContainer {
  height: 100%;
  width: fit-content;
  display: flex;
  column-gap: $space8;
  overflow-y: hidden;
}

.baselineWrapper {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  opacity: 0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  gap: $space12;
  @include showElementOpacity1;
}

@keyframes showElementOpacity1 {
  to {
    opacity: 1;
  }
}

.icon {
  height: 12px;
  width: 12px;
  transform: rotate(90deg)
}

.baseline {
  @include desktopTitleH6;
  letter-spacing: $letterSpacingSmall;
}

.line {
  height: 100%;
  width: 1px;
  background: $accent;
  transform: translateY(100%);
  animation: showCopyrightUnderline 2s ease-in-out forwards;
}

@keyframes showCopyrightUnderline {
  to {
    transform: translateY(0);
  }
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 990px) {
  .baseline {
    font-size: .6rem;
  }
}

@media (max-width: 768px)  {
  .baselineContainer {
    display: none;
  }
}