.formationsWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.formationsContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: $space32;
  padding: 0 $space48;

  // pour que le rail prenne la largeur de toutes les cards
  width: max-content;
  box-sizing: content-box;
}

/* fallback mobile : si tu veux conserver le swipe natif sur petits écrans */
// @media (max-width: 768px) {
//   .formationsWrapper {
//     overflow-x: auto;
//   }
//   .formationsContainer {
//     width: auto;
//     transition: none;
//   }

//   .formationsWrapper::-webkit-scrollbar {
//     display: none;
//   }
// }
