.formationsWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.formationsContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: $space32;
  padding: 0 $space48;

  // pour que le rail prenne la largeur de toutes les cards
  width: max-content;
  box-sizing: content-box;
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 950px) {
  .formationsWrapper {
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
  }

  .formationsContainer {
    height: auto;
    width: 100%;
    flex-direction: column;
    row-gap: 32px;
    padding: $space48;
    transition: none;
  }

  .formationsWrapper::-webkit-scrollbar {
    display: none;
  }
}
