.container {
  position: relative;
  @include fullParentSize;
}

.sentence {
  position: absolute;
  @include fullParentSize;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding-left: $smallPagePaddingLeftRight;
  transition: $mediumTransition;
}

.sentence.visible {
  opacity: 1;
}

.segment {
  @include introTxtSetup;
  text-wrap: nowrap;
  opacity: 0;
  transform: translateY(100%);
  transition: $mediumTransition;
}

.segmentLeft {
  color: $color-black;
}

.segmentRight {
  color: $color-accent;
}

.segment.show {
  transform: translateY(0);
  opacity: 1;
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 768px) {
  .sentence {
    justify-content: center;
    padding-left: 0;
  }
}

@media (max-width: 490px) {
  .segment {
    font-size: 0.875em;
  }
}