.container {
  @include fullParentSize;
  display: grid;
  transition: $slowTransition;
}

.blackContainer {
  @include fullParentSize;
  background: $black;
  order: 1;
}

.loadingWrapper {
  @include fullParentSize;
  opacity: 1;
  transition: opacity 1.2s ease-in-out;
}

.fadeOut {
  opacity: 0;
}

.quoteWrapper {
  @include fullParentSize;
  @include centerChildren;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.5);
}

.arise {
  animation: quoteAnimation 6s ease-in-out forwards;
  @keyframes quoteAnimation {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
}

.whiteContainer {
  @include fullParentSize;
  background: $white;
  order: 2;

}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 768px) {
  .blackContainer {
    order: 2;
    padding: 0 $smallPagePaddingTopBot;
  }

  .loadingWrapper {
    padding-top: $space24;
  }

 .whiteContainer {
    order: 1;
    padding: 0 $smallPagePaddingTopBot;
 }
}