.skillsWrapper {
  height: 100%;
  width: 100%;
  @include centerChildren;
  overflow: hidden;
}

.skillsDisplayContainer {
  flex-wrap: nowrap;
  column-gap: $space32;
  padding: 0 $space48;
  width: max-content;
  box-sizing: content-box;
}