@import "@/styles/utils/textStyle";

.formationCardContainer {
  position: relative;
  height: 160px;
  width: 260px;
  background: $black;
  border: 1px solid $accent;
  border-radius: 12px;
  padding: $space24;
  z-index: 50;
}

.datesContainer {
  position: absolute;
  display: flex;
  align-items: center;
  background: $black;
  top: 0;
  transform: translate(-4px, -50%);
  padding: 0 4px;
}

.dates {
  @include desktopTitleH1S;
}

.startDate {
  padding-left: $space8;
}

.endDate {
  color: $color-accent;
}

.text {
  @extend %experienceSectionText;
}

.detailsContainer {
  padding: $space8 0;
}

.textBolder {
  font-weight: $fontWeightSemiBold600;
}

.textThinner {
  font-weight: $fontWeightLight300;
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 950px) {
  .formationCardContainer {
    width: 100%;
  }

  .detailsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
