.skillsCardContainer {
  position: relative;
  height: 160px;
  width: 260px;
  @include centerChildren;
  border: 1px solid $accent;
  border-radius: 12px;
  padding: $space24;
}

.titleContainer {
  position: absolute;
  display: flex;
  align-items: center;
  background: $black;
  top: 0;
  left: 0;
  transform: translate(16px, -50%);
  padding: 0 4px
}

.title {
  @include desktopTitleH1S;
  color: $color-accent;
}

.iconContainer {
  display: flex;
  align-items: center;
  column-gap: $space16;
}