.link {
  width: fit-content;
  position: relative;
  @include desktopLinkXl;
  letter-spacing: $letterSpacingSmall;
  text-wrap: nowrap;

  &::after {
    @include pseudoElementContent;
    height: 1px;
    width: 0;
    background: $accent;
    left: 0;
    bottom: 0;
    transition: $mediumTransition;
  }

  &:hover::after {
    width: 100%;
  }
}

.burgerMenuLink {
  display: none;
}

.activeLink {
  color: $color-accent;
  font-weight: 600;
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 1050px) {
  .link {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px)  {
  .link {
    width: 100%;
    text-align: center;
    border: 1px solid $accent;
    padding: $btnSpace14 $btnSpace32;
    border-radius: 150px;

    &::after {
      display: none;
    }
  }

  .burgerMenuLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $fontSize24;
    letter-spacing: $letterSpacingSmall;
  }
}