.lineTopContainer {
  width: 100%;
  padding: $space48 0;
}

.lineContainer {
  width: 100%;
  padding-top: $space48;
}


.line {
  height: 1px;
  width: 0;
  background: $accent;
  @include showOrangeLine;
}

@keyframes showOrangeLine {
  to {
    width: 100%;
  }
}