.titleContainer {
  position: relative;
  @include fullParentSize;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  @include showElementOpacity1;
}

@keyframes showElementOpacity1 {
  to {
    opacity: 1;
  }
}

.subTitleWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.subTitle {
  @include desktopTitleH1Xl;
  z-index: 10;
}

.functionTitle {
  @include desktopTitleH1M;
  color: $color-accent;
}

.pageTitle {
  width: fit-content;
  @include desktopTitleH2Xl;
  line-height: $lineHeight110;
  transform: translateX(-21px);
  z-index: 0;
}