.text {
  @include desktopParagraphXl;
  z-index: 10;
}

.textLink {
  display: inline-block;
  @include desktopParagraphXl;
  font-weight: $fontWeightSemiBold600;
  color: $color-accent;
  text-decoration: underline;
  transform: scale(1);
  transition: $speedTransition;

  &:hover {
    transform: scale(1.05);
  }
}