.storytellingContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.8);
  row-gap: 16px;
  padding-bottom: 64px;
  animation: showElementScale1 2.5s ease-in-out forwards;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

@keyframes showElementScale1 {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.storytellingContainer::-webkit-scrollbar {
  display: none;
}

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 1190px) {
  .storytellingContainer {
    width: 100%;
    padding: 0 $space8;
  }
}

@media (max-width: 768px) {
  .storytellingContainer {
    padding: 0 0 48px 0;
  }
}
