.storytellingContainer {
  width: 55%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(.8);
  row-gap: 16px;
  animation: showElementScale1 2.5s ease-in-out forwards;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

@keyframes showElementScale1 {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// .storytellingContainer::-webkit-scrollbar {
//   display: none;
//   // width: 5px;
// }

// .storytellingContainer::-webkit-scrollbar-track {
//   margin-right: 150px;
// }

// .storytellingContainer::-webkit-scrollbar-thumb {
//   background: $accent;
//   border-radius: 150px;
// }

// ---------------------------------------------------------
// MEDIA QUERRIES
// ---------------------------------------------------------

@media (max-width: 1050px) {

  .storytellingContainer {
    width: 100%;
    padding: 0 $space8;
  }

  @media (max-width: 768px) {

    .storytellingContainer {
    padding: 0 0 48px 0;
  }

    .storytellingContainer::-webkit-scrollbar {
      display: none;
    }
  }
}