//SIZES

@mixin fullScreenSize {
  height: 100dvh;
  width: 100dvw;
}

@mixin fullParentSize {
  height: 100%;
  width: 100%;
}

//POSITIONS

@mixin pseudoElementContent {
  content: "";
  position: absolute;
}

@mixin centerChildren {
  display: flex;
  align-items: center;
  justify-content: center;
}

//ANIMATIONS

@mixin showElementOpacity1 {
  animation: showElementOpacity1 3s ease-in-out forwards ;
}

@mixin showOrangeLine {
  animation: showOrangeLine 2s ease-in-out forwards;
}