@mixin pseudoElementContent {
  content: "";
  position: absolute;
}

@mixin fullScreenSize {
  height: 100vh;
  width: 100vw;
}

@mixin fullParentSize {
  height: 100%;
  width: 100%;
}

@mixin centerChildren {
  display: flex;
  align-items: center;
  justify-content: center;
}