$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;

$color-black: #0a0a0a;
$color-white: #f7f7f9;
$color-accent: #ff6f28;
$color-medium-dark: #525252;
$color-light-dark: #bdbdbd;

@mixin introTxtSetup {
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.15em;
}