$black: #0a0a0a;
$white: #f7f7f9;
$accent: #ff6f28;
$medium-dark: #525252;
$light-dark: #bdbdbd;

$pagePaddingTopBot: 80px;
$pagePaddingLeftRight: 48px;

$extraSlowerTransition: 2s ease-in-out;
$extraSlowTransition: 1s ease-in-out;
$slowTransition: 0.8s ease-in-out;
$mediumTransition: 0.5s ease-in-out;
$speedTransition: 0.2s ease-in-out;