//COLORS
$black: #0a0a0a;
$white: #f7f7f9;
$accent: #ff6f28;
$medium-dark: #525252;
$light-dark: #bdbdbd;

//WINDOW SPACES
$smallPagePaddingTopBot: 24px;
$smallPagePaddingLeftRight: 40px;
$pagePaddingTopBot: 80px;
$pagePaddingLeftRight: 48px;
$mobilePaddingTopBot: 32px;
$mobilePaddingLeftRight: 12px;

//SPACES
$space8: 8px; 
$space16: 16px; 
$space12: 12px; 
$space24: 24px; 
$space32: 32px;

//BTN SPACES
$btnSpace14: 14px;
$btnSpace32: 32px;

//TRANSITIONS
$extraSlowerTransition: 2s ease-in-out;
$extraSlowTransition: 1s ease-in-out;
$slowTransition: 0.8s ease-in-out;
$mediumTransition: 0.5s ease-in-out;
$speedTransition: 0.2s ease-in-out;